.tooltip.saspe .tooltiptext.saspe {
    visibility: hidden;
    background-color: black;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: -95px;
    left: -5px;
}
.tooltip.saspe:hover .tooltiptext.saspe {
    visibility: visible;
}
.tooltip.saspe  {
    cursor: default;
    position: relative;
    display: inline-block;
}
